.show {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  min-width: 26rem;
  padding: 0.5rem;

  background-color: #1f1f1f;
  border: 5px solid black;
  border-radius: 60px 30px;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.options {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.option {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  margin-bottom: 1rem;
}

/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 786px) {
  .options {
    flex-direction: column;
  }

  .option {
    margin: auto;
  }
}