.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1rem;
}

.ul {
  display: flex;
  justify-content: center;

  gap: 40px;

  list-style: none;
  padding: 0;
}

.li {
  margin: 0 10px;

}

.navlink {
  font-family: inherit;
  font-weight: bold;

  display: block;
  padding: 0.5rem 1rem;

  color: white;
  border: 2px solid #9A67EA;
  border-radius: 30px;
}

@media (max-width:800px) {
  .nav {
    flex-direction: column;
  }
  .ul {
    gap: 10px;
  }
}