#root {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.contenido {
  padding: 1rem;

}

@media (max-width: 430px) {
  .contenido {
    padding: 0;
  }
}