#root {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
  box-shadow: inset 0 0 40px rgba(95, 95, 95, 0.2);
}

.contenido {
  padding: 1rem;

}

@media (max-width: 430px) {
  .contenido {
    padding: 0;
  }
}