@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;0,800;1,400&display=swap');

:root {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: bold;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 800;
  color: #535bf2;
  text-decoration: inherit;
  transition: all 0.2s;
}

a:hover {
  color: #6F42C1;
}


button {
  background-color: #242430;
  color: #F5F5F5;
  padding: 5px 10px;
  font-weight: bold;

  border: 2px solid #9A67EA;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  color: #FFFFFF;
  border: 2px solid #6F42C1;
}

button:active {
  color: #FFFFFF;
  border: 2px solid #9A67EA;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  box-shadow: inset 0 0 40px rgba(95, 95, 95, 0.2);
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  transition: all 0.5s;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #9A67EA, #6F42C1);
  border-radius: 6px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg,#6F42C1,#9A67EA);
}