.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.games {
  display: flex;
  flex-flow: row wrap;
}

.pagination {
  display: flex;
  position: sticky;
  bottom: 0;

  padding: 1rem 1rem;
  min-width: 380px;
  border-radius: 50px 50px 10px 10px;
  background-color: #151515;
}

.arrow-page,
.select-page,
.number-page {
  display: block;
  background-color: #242430;
  color: #F5F5F5;
  padding: 5px 10px;

  margin: 0 0.5rem;

  border: 2px solid #9A67EA;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.active {
  background-color: #9A67EA;
  transform: scale(1.2);
}

.arrow-page:hover,
.select-page:hover,
.number-page:hover {
  transform: scale(1.2);
  color: #FFFFFF;
  border: 2px solid #6F42C1;
}

.arrow-page:active,
.select-page:active,
.number-page:active {
  color: #FFFFFF;
  border: 2px solid #9A67EA;
}

@media (max-width:768px) {
  .games {
    flex-direction: column;
  }

  .number-page {
    display: none;
  }


  .select-page {
    display: block;
  }

  .arrow-page {
    flex-grow: 3;
    flex-basis: 3;
  }

}