.contenedor {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.formulario {
  display: block;

}


.error {
  display: block;
  color: red;
  border: 3px solid red;
}

.hidden {
  display: none;
}