.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: .5rem;
  top: 0;
  background-color: #151515;
  height: 8em;
}


/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
  }


}