.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
}

.games {
  display: flex;
  flex-flow: row wrap;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
  display: flex;

  position: sticky;
}

.li {
  background-color: #242430;
  color: #F5F5F5;
  padding: 5px 10px;

  width: fit-content;

  margin: 0 0.2rem;

  border: 2px solid #9A67EA;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.li .active {
  color: #9A67EA;
}

.li:hover {
  color: #FFFFFF;
  border: 2px solid #6F42C1;
}

.li:active {
  color: #FFFFFF;
  border: 2px solid #9A67EA;
}

@media (max-width: 600px) {
  .games {
    flex-direction: column;
  }
}